@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
    color: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    color: #333;
    background-color: #ccc;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1rem;
    background-color: #333;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 1rem;
}

nav h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #8a6e4b;
}

.container {
    width: min(1200px, 100%);
    margin: 1rem auto;
    padding: 2rem;
    background-color: #eee;
}

.counters {
    margin-bottom: 1rem;
    font-size: 0.85rem;
}

.input-box {
    display: grid;
    grid-template-columns: 95% 5%;
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
}

.textarea {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding: 0.5rem;
    border: none;
    border-radius: 5px 0 0 5px;
    resize: none;
    outline: none;
}

.textarea:focus {
    box-shadow: 0 0 10px 1px rgb(23, 23, 136);
}

.btn {
    background-color: #8a6e4b;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #333;
    transform: scale(0.96);
}

.copy,
.clear {
    grid-column: 2 / 3;
    font-size: 2rem;
}

.copy {
    grid-row: 1 / 2;
    border-radius: 0 5px 0 0;
}

.clear {
    grid-row: 2 / 3;
    border-radius: 0 0 5px 0;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
}

@media (max-width: 1050px) {
    .input-box {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 3fr 1fr;
        gap: 0 5px;
    }

    .textarea {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        border-radius: 5px 5px 0 0;
    }

    .copy,
    .clear {
        grid-row: 2 / 3;
        padding: 0.75rem 0;
        font-size: 1rem;
    }

    .copy:hover,
    .clear:hover {
        transform: scale(1);
    }

    .copy {
        grid-column: 1 / 2;
        border-radius: 0 0 0 5px;
    }

    .clear {
        grid-column: 2 / 3;
    }
}

@media (max-width: 900px) {
    .buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5px;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        flex-direction: column-reverse;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 730px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .buttons {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }

    .buttons .btn {
        font-size: 1rem;
        padding: 0.5rem;
    }
}
