@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3rem;
    padding: 1.5rem;
    background-color: #333;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin-right: 1rem;
}

nav .nav-title {
    font-size: 2.5rem;
    font-weight: 700;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #8a6e4b;
}

.container {
    width: 90vw;
    margin: 0 auto;
}

.btn-group {
    display: grid;
    justify-content: center;
    gap: 2rem;
}

.btn {
    margin-bottom: 0;
    padding: 0.75rem 1.5rem;
    background: #8a6e4b;
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.42857143;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    border: 1px solid transparent;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.3s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #222;
    border-color: #222;
}

.btn a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.upcoming {
    display: grid;
    justify-content: center;
    margin-top: 2rem;
}

@media (max-width: 900px) {
    nav {
        flex-direction: column-reverse;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }
}
